
        <aside id="communications">
            <h2>Group Communications</h2>
            <h3>Mailing lists</h3>
            <ul>
                <li><a href="mailto:public-vc-wg@w3.org">public-vc-wg@w3.org</a>: the group’s primary mailing list. Group members are automatically signed up. The <a href="https://lists.w3.org/Archives/Public/public-vc-wg/">archives</a> are publicly visible, and anyone can post messages.</li>
                <li><a href="mailto:member-vc-wg@w3.org">member-vc-wg@w3.org</a>: the group’s member confidential administrative mailing list. Group participants are automatically signed up. The <a href="https://lists.w3.org/Archives/Member/member-vc-wg/">archives</a> are visible to W3C members and group participants only, and only group participants can post a mail.</li>
                <li><a href="mailto:group-vc-wg-chairs@w3.org">group-vc-wg-chairs@w3.org</a>: list for chairs and W3C staff contact(s). The <a href="https://lists.w3.org/Archives/Group/group-vc-wg-chairs/">archives</a> are only visible to the chairs and the W3C staff, but anybody can post a mail.</li>
            </ul>

            <h3>Github repositories</h3>
            <ul>
                <li><a href="https://www.w3.org/PM/Groups/repositories.html?gid=98922">List of WG repositories</a>.</li>
            </ul>

        </aside>
