<header>
    <nav>
        <ul>
            <li><a href="https://www.w3.org/standards/">W3C Standards</a></li>
            <li><a href="https://www.w3.org/participate/">W3C Participation</a></li>
            <li><img alt="small W3C logo" src="https://www.w3.org/Icons/WWW/w3c_home_nb-v.svg" height="24" style="margin-top:2px"/></li>
            <li><a href="https://www.w3.org/Consortium/membership">W3C Membership</a></li>
            <li><a href="https://www.w3.org/Consortium/">About W3C</a></li>
        </ul>
    </nav>
</header>
