<nav>
    <h3>Getting involved</h3>
    <ul>
        <li><a href="https://www.w3.org/2017/vc/WG/">Group Home Page</a></li>
        <li><a href="https://www.w3.org/PM/Groups/repositories.html?gid=98922">Github repositories</a></li>
	    <li><a href="https://www.w3.org/2017/vc/WG/Meetings/">Information on meetings</a></li>
	    <li><a href="https://www.w3.org/2017/vc/WG/Meetings/Minutes/">Meeting minutes</a></li>
        <li><a href="https://www.w3.org/2017/vc/WG/Meetings/Minutes/resolutions">WG resolutions</a></li>
        <li><a href="https://www.w3.org/2017/vc/WG/WorkMode/">Work Mode</a></li>
        <li><a href="https://www.w3.org/2004/01/pp-impl/98922/join">Join the Working Group</a></li>
	    <li><a href="https://www.w3.org/Consortium/cepc/">W3C Code of Conduct</a></li>
    </ul>

    <h3>Group details</h3>
    <ul>
        <li><a href="https://www.w3.org/2000/09/dbwg/details?group=98922&public=1&order=org">Participants</a></li>
        <li><a href="https://www.w3.org/groups/wg/vc/publications">Publications</a></li>
        <li><a href="https://www.w3.org/2022/06/verifiable-credentials-wg-charter.html">Charter</a></li>
        <li><a href="https://www.w3.org/2004/01/pp-impl/98922/status">Patent Policy Status</a></li>
    </ul>

    <h3>Nearby</h3>
    <ul>
        <li><a href="https://www.w3.org/groups/wg/rch">RDF Canonicalization and Hash (RCH) Working Group</a></li>
        <li><a href="https://w3c-ccg.github.io/">W3C Credentials Community Group</a></li>
        <li><a href="https://www.w3.org/2019/did-wg/">Decentralized Identifier Working Group</a></li>
    </ul>

    <h3>General Links</h3>
    <ul>
        <li><a href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
        <li><a href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
        <li><a href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
        <li><a href="https://www.w3.org/TR/patent-policy/">W3C Patent Policy</a></li>
        <li><a href="https://www.w3.org/Consortium/Process/">W3C Process Document</a></li>
        <li><a href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
    </ul>
</nav>
