<nav>
    <h3>Getting involved</h3>
    <ul>
        <li><a href="https://www.w3.org/2017/vc/WG/">Group Home Page</a></li>
        <li><a href="https://github.com/search?q=verifiable-claims+org%3Aw3c&type=Repositories">Github repositories</a></li>
	<!--*
	<li><a href="https://www.w3.org/publishing/groups/publ-wg/Meetings/">Information on meetings</a></li>*-->
	<!--*<li><a href="https://www.w3.org/publishing/groups/publ-wg/Meetings/Minutes/">Meeting minutes</a></li>*-->
	<!--*
	<li><a href="https://github.com/w3c/publ-wg/wiki">WG Wiki</a></li>*-->
	<!--*
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/WorkMode/">WorkMode</a></li>
	*-->
	<!--*
        <li><a href="https://www.w3.org/publishing/groups/publ-wg/Misc/presentations">Public Presentations</a></li>
	*-->
        <li><a href="https://www.w3.org/2004/01/pp-impl/98922/join">Join the Working Group</a></li>
	<li><a href="https://www.w3.org/Consortium/cepc/">W3C Code of Conduct</a></li>
    </ul>

    <h3>Documents and drafts</h3>
    <ul>
    <li><a href="https://www.w3.org/TR/verifiable-claims-use-cases/">Verifiable Credentials Use Cases</a>
        <ul>
            <li><a href="https://w3c.github.io/vc-use-cases/">editor’s draft</a></li>
            <li><a href="https://github.com/w3c/vc-data-model/">github page with issue tracker</a></li>
        </ul>
    <li><a href="https://www.w3.org/TR/verifiable-claims-data-model/">Verifiable Credentials Data Model and Representations</a>
        <ul>
            <li><a href="https://w3c.github.io/vc-data-model/">editor’s draft</a></li>             
            <li><a href="https://github.com/w3c/vc-use-cases/">github page with issue tracker</a></li>
        </ul>
    </li>
    </ul>

    <h3>Group details</h3>
    <ul>
        <li><a href="https://www.w3.org/2000/09/dbwg/details?group=98922&public=1&order=org">Participants</a></li>
	<!--*
	<li><a href="https://www.w3.org/publishing/groups/publ-wg/PublStatus">Publication status and milestones</a></li>*-->
        <li><a href="https://www.w3.org/2020/12/verifiable-credentials-wg-charter.html">Charter</a></li>
        <li><a href="https://www.w3.org/2004/01/pp-impl/98922/status">Patent Policy Status</a></li>
    </ul>


    <h3>Face-to-face meetings</h3>
    <ul>
        <li><a href="201804f2f.html">April 6, 2018 (Mountain View)</a></li>
	<li><a href="f2f/2019-03-Barcelona">March 4-5, 2019 (Barcelona)</a></li>
    </ul>

    <!--* this could include web payments and credentials maybe?? *-->
    <!--*
    <h3>Nearby</h3>
    <ul>
        <li><a href="https://www.w3.org/publishing/">Publishing@W3C</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-bg/">Publishing Business Group</a></li>
        <li><a href="https://www.w3.org/publishing/groups/publ-cg/">EPUB 3 Community Group</a></li>
        <li><a href="https://www.w3.org/TR/#tr_Digital_Publishing">Publishing@W3C Publications</a></li>
    </ul>
    *-->

    <h3>General Links</h3>
    <ul>
        <li><a href="https://www.w3.org/Consortium/join">Joining W3C</a></li>
        <li><a href="https://www.w3.org/Consortium/activities">W3C Activities</a></li>
        <li><a href="http://www.w3.org/Guide/">W3C Guidebook</a></li>
        <li><a href="https://www.w3.org/TR/patent-policy/">W3C Patent Policy</a></li>
        <li><a href="https://www.w3.org/Consortium/Process/">W3C Process Document</a></li>
        <li><a href="https://www.w3.org/Consortium/cepc/">Code of Conduct</a></li>
    </ul>
</nav>
