<!DOCTYPE html>
<html lang="en" data-apiary-key="qrr5t52gak0ssco80gkcc80gg488080" data-apiary-group="98922">
<head>
    <meta charset="utf-8">
    <title>W3C Verifiable Credentials Working Group</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <meta name="application-name" content="Verifiable Credentials Working Group" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="description" content="The mission of the Verifiable Credentials Working Group is to make expressing and exchanging claims that have been verified by a third party easier and more secure on the Web." />
    <link rel="stylesheet" href="https://www.w3.org/2017/vc/WG/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    {% include header.html %}
    <main>
        {% include nav.html %}
        <section id='content'>
            <h1 style="border-bottom: 1px solid #ccc">
                Verifiable Credentials Working Group
            </h1>
            <section id="mission">
                <p>
                    The mission of the Verifiable Credentials (formerly known as Verifiable Claims) Working Group (VCWG) is to make expressing and exchanging credentials that have been verified by a third party easier and more secure on the Web. 
                <p>
                
                <p>
                    The Chair of the Working Group is <a href="mailto:brent.zundel@gmail.com">Brent Zundel</a>. The W3C Staff Contact for the Working Group is <a href="mailto:ivan@w3.org">Ivan Herman</a>. 
                </p>
            </section>
            <section id="minutes">
                <h2><a href="Meetings/Minutes/">Meeting Minutes</a></h2>
                <ul class="inline">
                {% assign minutes_length = site.minutes | size %}
                {% assign reversed_minutes = site.minutes | reverse %}
                {% for item in reversed_minutes limit:5 %}
                  <li><a href="{{ site.baseurl }}{{ item.url }}">{{ item.date | date: '%d %B' }}</a></li>
                {% endfor %}
                {% if minutes_length > 5 %}
                    <li><a href="Meetings/Minutes/">more...</a></li>
                {% endif %}
                </ul>
            </section>
        </section>
        {% include aside.html %}
    </main>
    {% include footer.html %}

    <!-- <script src="https://w3c.github.io/apiary/apiary.js"></script> -->
  </body>
</html>
