<!DOCTYPE html>
<html lang="en" data-apiary-key="qrr5t52gak0ssco80gkcc80gg488080" data-apiary-group="98922">
<head>
    <meta charset="utf-8">
    <title>VCWG Meeting {{ page.date }}</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Verifiable Credentials Working Group" />
    <meta name="screen-orientation" content="portrait" />
    <meta name="full-screen" content="yes" />
    <meta name="description" content="The mission of the Verifiable Credentials Group is to make expressing and exchanging claims that have been verified by a third party easier and more secure on the Web." />
    <link rel="stylesheet" href="https://www.w3.org/2017/vc/WG/assets/css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        function cleanmd() {
            var as = document.getElementsByTagName('a');
            for (var i = 0; i < as.length; i++) {
                var a = as[i];
                var href = a.getAttribute("href");
                if (href) {
                    if (href.startsWith('id:')) {
                        /* yes, this is an id value in the markdown sense */
                        a.setAttribute("id",href.slice(3));
                        a.removeAttribute("href")
                    }
                }
            }
        }
        window.onload = cleanmd;
    </script>
    <style media="screen">
        .resolution {
            color: red;
        }
        .action {
            color: green;
        }
        .summary {
            color:teal
        }
        .proposed_resolution {
            color:slateblue
        }
        .draft_notice {
            font-size: 1.3em;
            text-align: center;
            color: red;
        }
    </style>
</head>
<body>
    {% include header.html %}
    <main>
        {% include nav.html %}
        <section id='content'>
            <h1 style="border-bottom: 1px solid #ccc">
		Verifiable Credentials Meeting Page
            </h1>
            {{ content }}
        </section>
    </main>
    {% include footer.html %}
    <script src="https://w3c.github.io/apiary/apiary.js"></script>
  </body>
</html>
